.container {
  max-width: 70vw;
  margin: auto;
  padding: 0 10rem 5rem 10rem;
}

.container h1 {
  font-size: larger;
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
  font-size: 1.4rem;
}

.container h2 {
  font-size: large;
  font-weight: 500;
  padding: 1rem 0;
  font-size: 20px;
}

.author {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 915px) {
  .container {
    padding: 0 0 5rem 0;
  }
}
