.container {
  max-width: 90vw;
  margin: auto;
  padding: 0 5rem;
  min-height: 100vh;
}

.container p {
  color: #d8d8d8;
}

.container h1 {
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
}

.container h2 {
  font-weight: 500;
  padding: 1rem 0;
  font-size: x-large;
}

@media (max-width: 915px) {
  .container {
    padding: 0 0 5rem 0;
  }
}
