.blogPage h1 {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
}

.blogPage h2 {
  font-weight: bold;
  font-size: 1.1rem;
}

.blogPage div {
  padding: 1rem 0 1rem 0;
}

.blogPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogPage b {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem 0;
}

.blogItem h3 {
  cursor: pointer;
}

.blogItem {
  width: 30vw;
}

@media (max-width: 915px) {
  .blogItem {
    width: 70vw;
  }
}
