.blogPage h1 {
  font-size: 1.5rem;
}

.blogPage h2 {
  font-weight: bold;
  font-size: 1.1rem;
}

.blogPage div {
  padding: 1rem 0 1rem 0;
}

.blogPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogItem h3 {
  cursor: pointer;
}

.blogItem {
  width: 90%;
}
