@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
/* 
body {
  color: white;
  background: linear-gradient(
    156deg,
    rgb(63, 0, 79) 0%,
    black 28%,
    black 57%,
    black 100%
  );
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 0 0rem 0;
  text-align: justify;
} */

body {
  background-image: linear-gradient(
    to right bottom,
    #004142,
    #073540,
    #162836,
    #1b1c27,
    #171218,
    #171218,
    #171218,
    #171218,
    #1b1c27,
    #162836,
    #073540,
    #004142
  );
  color: white;
}
