.mainnav ul {
  display: flex;
  width: max-content;
  justify-content: center;
  width: 100%;
  padding-bottom: 3rem;
}

.mainnav ul li {
  display: flex;
  padding: 0 1rem 0 1rem;
  list-style: none;
  text-decoration: none;
}

.headermain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 0rem 0 3rem 0;
  padding: 30vh 0 0 0;
}

.headermain p {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem 0 0 0;
}
